@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: black;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    background-color: #3f3e3e;
}

hr {
  width: 30px;
  height: 2px;
  background-color: #fb774b;
}

/* Navbar - Start*/

.navbar{
    font-size: 18px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbari:hover,
.navbar-light .navbar-nav .nav-link.active,
.nnavbari.active{
    color: coral;
}

.navbar-light .navbar-toggler{
    outline: none;
    border: none;
}
/* Navbar - end*/


/* Shop item - Start*/
.star i{
    font-size: 0.8rem;
    color: goldenrod;
}
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background-color: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}
/* Shop item - end*/

/* Banner 2 - Start*/
#banner{
    background-image: url(img/banner/2.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: top 60px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4{
    color: #d8d8d8;
}
#banner h1{
    color: white;
}
#banner button{
    color: white;
    background-color: #fb774b;
}
/* Banner 2 - end*/


/* Cart - Start */
#cart-container{
    overflow-x: auto;
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart-container table thead{
    font-weight: 700;
}

#cart-container table thead td{
    background: #fb774b;
    color: #fff;
    border: none;
    padding: 6px 0;
    text-align: center;
}

#cart-container table td{
    border: 1px solid #b6b6b6;
    text-align: center;
}

#cart-container table td:nth-child(1){
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}

#cart-container table tbody img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#cart-container table tbody i{
    color: #8d8c89;
}
#cart-container table tbody i:hover{
    color: red;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div{
    border: 1px solid #b6b6b6;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5{
    background: #fb774b;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input{
    padding: 0 12px;
}

#cart-bottom .coupon input{
    height: 44px;
}

#cart-bottom .coupon input,
#cart-bottom .coupon button{
    margin: 0 0 20px 12px;
}

#cart-bottom .total div>div{
    padding: 0 12px;
}

#cart-bottom .total h6{
    color: #2a2a2a;
}

.second-hr{
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}

#cart-bottom .total div>button{
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
}
#cart-bottom .coupon div>button{
    border-radius: 2px;
}
/* Cart - end */