@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
  /* Navber start */
  /* Navber start */
}
@media (max-width: 767px) {
  body {
    overflow: auto;
  }
}
body .navbar {
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
body .navbar .operations {
  display: flex;
}
body .navbar .operations a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 24px;
  margin-right: 10px;
  padding: 0 13px;
  vertical-align: middle;
  color: #313131;
  border: 1px solid rgba(49, 49, 49, 0.5019607843);
  border-radius: 14px;
  opacity: 0.8;
  transition: 0.3s;
}
body .navbar .operations a:hover {
  opacity: 1;
}
body .navbar .operations a .login-icon {
  font-size: 20px;
  color: #ed2d34;
  margin-right: 5px;
}
body .navbar .operations a .register-icon {
  font-size: 20px;
  color: #ed9a2d;
  margin-right: 5px;
}
body .navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}
body .navbar-light .navbar-nav .nav-link:hover {
  color: coral;
}
body .navbar-light .navbar-toggler {
  outline: none;
  border: none;
}
body .page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
  background: linear-gradient(to top right, rgba(252, 161, 44, 0.8509803922) 0%, rgba(120, 121, 64, 0.0196078431) 100%);
  min-height: 100vh;
}
body .page-wrapper .wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 1%;
}
@media (max-width: 767px) {
  body .page-wrapper .wrapper {
    padding: 1% 4%;
  }
}
body .page-wrapper .wrapper .card .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}
@media (max-width: 767px) {
  body .page-wrapper .wrapper .card .card-body {
    padding: 50px 40px;
  }
}
body .page-wrapper .wrapper .card {
  background: white;
  border-radius: 10px;
  box-sizing: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
body .page-wrapper .wrapper .card .card-body {
  padding: 50px 40px;
}
body .page-wrapper .wrapper .card .card-body .title {
  font-size: 24px;
  color: #525252;
  font-weight: 600;
  margin-bottom: 40px;
}
body .page-wrapper .wrapper .card .card-body .row {
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 {
  width: -webkit-calc((100% - 30px) / 2);
  width: -moz-calc((100% - 30px) / 2);
  width: calc((100% - 30px) / 2);
}
@media (max-width: 767px) {
  body .page-wrapper .wrapper .card .card-body .row .col-2 {
    width: 100%;
  }
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group {
  position: relative;
  margin-bottom: 22px;
  /*i{
      position: absolute;
      font-size: 18px;
      color: #999;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
  }*/
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group .label {
  font-size: 14px;
  color: #555;
  text-transform: capitalize;
  display: flex;
  margin-bottom: 5px;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group .label .warning {
  font-size: 14px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e30000;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group .label .warning p {
  margin: 0;
  padding-left: 3px;
  font-size: 12px;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group input {
  outline: none;
  margin: 0;
  border: none;
  width: 100%;
  font-family: inherit;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group .input-4 {
  line-height: 50px;
  background: #fafafa;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: all 0.4s ease;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group .hide-pass {
  position: absolute;
  top: 26px;
  right: 0px;
  height: 50px;
  padding: 7px 19px;
  background: transparent;
  color: black;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group .hide-pass i {
  font-size: 13px;
}
body .page-wrapper .wrapper .card .card-body .row .col-2 .input-group select {
  width: 100%;
  line-height: 50px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: all 0.4s ease;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 {
  width: 100%;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group {
  position: relative;
  margin-bottom: 22px;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group .label {
  font-size: 14px;
  color: #555;
  text-transform: capitalize;
  display: flex;
  margin-bottom: 5px;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group .label .warning {
  font-size: 14px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e30000;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group .label .warning p {
  margin: 0;
  padding-left: 3px;
  font-size: 12px;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group input {
  outline: none;
  margin: 0;
  border: none;
  width: 100%;
  font-family: inherit;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group .input-4 {
  line-height: 50px;
  background: #fafafa;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: all 0.4s ease;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group .hide-pass {
  position: absolute;
  top: 26px;
  right: 0px;
  height: 50px;
  padding: 7px 19px;
  background: transparent;
  color: black;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}
body .page-wrapper .wrapper .card .card-body .row .col-12 .input-group .hide-pass i {
  font-size: 13px;
}
body .page-wrapper .wrapper .card .card-body .agree {
  font-weight: 400;
}
body .page-wrapper .wrapper .card .card-body .agree label {
  cursor: pointer;
}
body .page-wrapper .wrapper .card .card-body .agree label .terms-text span {
  color: rgb(1, 151, 236);
  text-decoration: underline;
}
body .page-wrapper .wrapper .card .card-body .agree .termsValid {
  display: flex;
  margin-top: 8px;
  color: #e30000;
}
body .page-wrapper .wrapper .card .card-body .button {
  padding-top: 15px;
}
body .page-wrapper .wrapper .card .card-body .button .btn-submit {
  background: #ff8a2a;
  border-radius: 5px;
  color: white;
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body .page-wrapper .wrapper .card .card-body .button .btn-submit:hover {
  background: #ff9d4c;
}
body .page-wrapper .wrapper .card .card-body .login__register {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
body .page-wrapper .wrapper .card .card-body .login__register a {
  color: #e9880b;
  text-decoration: none;
  padding-left: 5px;
  font-weight: 500;
}
body .page-wrapper .wrapper .card .card-body .login__register a:hover {
  text-decoration: underline;
}
body .page-wrapper .wrapper .card .card-body .alert {
  margin-top: 15px;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */