<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SBM Home</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<script src="https://unpkg.com/@phosphor-icons/web"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/style.css}">
	<link href="https://css.gg/css" rel="stylesheet" />
	<style>
		#icon-trash {
			color: red;
		}

		#icon-trash:hover {
			color: rgb(255, 62, 62);
		}

		#icon-edit {
			color: blue;
			font-size: 20px;
		}

		#icon-edit:hover {
			color: rgb(69, 112, 222);
		}

		button {
			border: none;
			background: none;
			margin-left: 50px;
		}
	</style>

	<script>
		
		window.onload = function () {
			$(document).ready(function () {
				$('#myModal').modal('show');
			});
		};

	</script>


</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand text-black" href="/index">SBM</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span id="bar" data-lucide="menu"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="/customerList">See Customer List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/customerRegisterForm">New Customer Register</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--End Navbar-->

	<!-- Modal -->
	<div class="container mt-5">
		<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
			aria-hidden="true" th:if="${showText}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalTitle">Bildirim</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Listelenen Plakalı Araçlarınızın Sigorta Süresi Bitmiştir:</p>
						<ul>
							<li th:each="data : ${expiredCars}" th:text="${data.getPlate1() + ' ' + data.getPlate2()+ ' ' + data.getPlate3()}"></li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>				


		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Customer Id</th>
					<th scope="col">License Plate</th>
					<th scope="col">Usage Type</th>
					<th scope="col">Purpose of Usage</th>
					<th cope="col">Brand</th>
					<th cope="col">Fuel Type</th>
					<th cope="col">Engine Size</th>
					<th scope="col">Seating Capacity</th>
					<th scope="col">Offer</th>
					<th scope="col">Period</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Result</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c :${car}">
					<td th:text="${c.id}"></td>
					<td th:text="${c.customerId}"></td>
					<td>
						<span th:text="${c.plate1}"></span>
						<span th:text="${c.plate2}"></span>
						<span th:text="${c.plate3}"></span>
					</td>
					<td th:text="${c.type}"></td>
					<td th:text="${c.purpose}"></td>
					<td th:text="${c.brand}"></td>
					<td th:text="${c.fuelType}"></td>
					<td th:text="${c.engineSize}"></td>
					<td th:text="${c.seatCapacity}"></td>
					<td th:text="${c.offer}"></td>
					<td th:text="${c.period}"></td>
					<td th:text="${c.startDate}"></td>
					<td th:text="${c.endDate}"></td>
					<td th:text="${c.result}"></td>

					<!--					<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">-->
					<!--							<a th:href="@{/deleteCar/{id}(id=${c.id})}"><i id="icon-trash" class="gg-trash"></i></a></button></td>-->
					<!--						<td><button><a th:href="@{/deleteCar/{id}(id=${c.id})}"><i id="icon-trash" class="gg-trash"></i></a></button></td>	-->
					<td><button class="mx-auto"><a th:href="@{/insuranceRefund/{id}(id=${c.id})}"><i id="icon-trash"
									class="gg-trash"></i></a></button></td>

					<!--					 Modal -->
					<!--					<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"-->
					<!--						tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
					<!--						<div class="modal-dialog">-->
					<!--							<div class="modal-content">-->
					<!--								<div class="modal-header">-->
					<!--									<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>-->
					<!--									<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
					<!--										<span aria-hidden="true">&times;</span>-->
					<!--									</button>-->
					<!--								</div>-->
					<!--									<div class="modal-body">-->
					<!--										<h1 class="panel-title price" th:text="${c.starting_date}"></h1>-->
					<!--										<h1 class="panel-title price" id="date-difference"></h1>-->


					<!--										<script>-->
					<!--											const myModal = new bootstrap.Modal('#staticBackdrop');-->
					<!--											window.addEventListener('DOMContentLoaded', () => {-->
					<!--												var startingDate = new Date(-->
					<!--													$scope.starting_date-->
					<!--												);-->

					<!--												var currentDate = new Date();-->

					<!--												var timeDiff = Math.abs(currentDate.getTime() - startingDate.getTime());-->
					<!--												var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));-->

					<!--												var dateDifferenceElement = document.getElementById("date-difference");-->
					<!--												var spanElement = document.createElement("span");-->
					<!--												spanElement.textContent = daysDiff + " gün";-->
					<!--												dateDifferenceElement.appendChild(spanElement);-->
					<!--												myModal.show();-->
					<!--											});												-->
					<!--										</script>-->


					<!--									</div>								-->
					<!--								<div class="modal-footer">-->
					<!--									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
					<!--								</div>-->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->

				</tr>
			</tbody>
		</table>
	</div>
	</div>

	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
		integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
		crossorigin="anonymous"></script>
	<script src="/js/app.js"></script>
</body>

</html>