<!doctype html>
<html lang="en" xmlns:th"http://www.thymeLeaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration Form</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/style.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<style>
		.error {
			color: red;
		}
	</style>

</head>

<body ng-app="myApp">

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
		<div class="container">
			<a class="navbar-brand text-black" href="/index">SBM</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span id="bar" data-lucide="menu"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/customerList">See Customer List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/customerRegisterForm">New Customer Register</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--	End Navbar-->

	<section id="featured" class="my-5 pt-5">
		<div class="container-register mt-5 py-5" ng-controller="registerCustomerFormController">
			<div class="textIntro">
				<h1 class="text-center">Registration Form</h1>
				<p ng-show="msg">{{msg}}</p>
				<div class="alert alert-warning" role="alert" th:if="${showTcAlert}"> This TC number is already registered! </div>
				<div class="alert alert-warning" role="alert" th:if="${showEmailAlert}"> This Email address is already registered! </div>
			</div>
			
			<form th:action="@{/customerRegisterForm}" th:object="${customer}" method="post">

				<input type="text" id="tc" th:field="*{tc}" placeholder="TC Number*">
				<p th:if="${#fields.hasErrors('tc')}" th:errorclass="error" th:errors="*{tc}" />

				<input type="date" id="birth" th:field="*{birth}" placeholder="Birth Date*">
				<p th:if="${#fields.hasErrors('birth')}" th:errorclass="error" th:errors="*{birth}" />

				<input type="text" id="email" th:field="*{email}" placeholder="Email*">
				<p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" />

				<input type="text" id="firstname" th:field="*{firstname}" placeholder="First Name*">
				<p th:if="${#fields.hasErrors('firstname')}" th:errorclass="error" th:errors="*{firstname}" />

				<input type="text" id="lastname" th:field="*{lastname}" placeholder="Last Name*">
				<p th:if="${#fields.hasErrors('lastname')}" th:errorclass="error" th:errors="*{lastname}" />

				<select name="province" id="province">
					<option value="" th:selected="${#fields.hasErrors('province')}">Select Province*</option>
				</select>
				<p th:if="${#fields.hasErrors('province')}" th:errorclass="error" th:errors="*{province}" />

				<select name="district" id="district">
					<option value="" th:selected="${#fields.hasErrors('district')}">Select District*</option>
				</select>
				<p th:if="${#fields.hasErrors('district')}" th:errorclass="error" th:errors="*{district}" />

				<button type="submit" class="btn">Submit</button>
			</form>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
		integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
		crossorigin="anonymous"></script>

	<script src="/js/app.js"></script>
</body>

</html>