<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Customer Registration Form</title>
		<link rel="icon" type="image/x-icon" th:href="@{/img/Happy-favicon.png}" href="/src/main/resources/static/img/Happy-favicon.png">

	 <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- İcon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/register.css}" href="src/main/resources/static/css/register.css">
    <!-- Angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body ng-app="myApp" ng-controller="registerFormController">
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid px-5">
          <a class="navbar-brand" href="#">
                    <img th:src="@{/img/Happy-Logo.png}" src="/src/main/resources/static/img/Happy-Logo.png" alt="happyLogo" class="rounded img-fluid" width="150px">
          	</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">
                    <i class='bx bxs-home'></i>
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="operations">
            <a href="/login">
                <i class='bx bxs-user-circle login-icon'></i>
                Login
            </a>
            <a href="/customerRegister">
                <i class='bx bxs-user-plus register-icon'></i>
                Register
            </a>
          </div>
        </div>
      </nav>
	<!--	End Navbar-->
	
	<div class="page-wrapper bg-gra-02">
		<div class="wrapper">
			<div class="card">
				<div class="card-body">
					<h2 class="title mb-4">Customer Registration Form</h2>
					<form th:action="@{/customerRegister}" th:object="${customer}" method="post" ng-submit="register()"
						name="myForm">

						<!-- First -Last Name -->
						<div class="row">
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">First Name</div>
										<div class="warning"
											ng-show="myForm.firstname.$error.required && myForm.firstname.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
										<div class="warning"
											ng-show="myForm.firstname.$error.pattern && myForm.firstname.$dirty">
											<i class='bx bxs-error-alt'></i>
											<p>Only letters can be used</p>
										</div>
									</label>
									<input type="text" ng-model="firstname" ng-pattern="/^[a-zA-ZçÇğĞıİöÖşŞüÜ\s]*$/"
										ng-required="true" class="input-4" id="firstname" name="firstname"
										maxlength="50" onkeypress="return /[a-zA-ZçÇğĞıİöÖşŞüÜ\s]/i.test(event.key)">
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Last Name</div>
										<div class="warning"
											ng-show="myForm.lastname.$error.required && myForm.lastname.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
										<div class="warning"
											ng-show="myForm.lastname.$error.pattern && myForm.lastname.$dirty">
											<i class='bx bxs-error-alt'></i>
											<p>Only letters can be used</p>
										</div>
									</label>
									<input type="text" ng-model="lastname" ng-pattern="/^[a-zA-ZçÇğĞıİöÖşŞüÜ\s]*$/"
										ng-required="true" class="input-4" id="lastname" name="lastname" maxlength="50"
										onkeypress="return /[a-zA-ZçÇğĞıİöÖşŞüÜ\s]/i.test(event.key)">
								</div>
							</div>
						</div>
						<!-- Tc - Email -->
						<div class="row">
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">T.C.</div>
										<div class="warning" ng-show="myForm.tc.$error.required && myForm.tc.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
										<div class="warning" ng-show="myForm.tc.$error.pattern && myForm.tc.$dirty">
											<i class='bx bxs-error-alt'></i>
											<p>T.C. must have 11 digits</p>
										</div>
									</label>
									<input type="number" ng-model="tc" ng-required="true" class="input-4" id="tc"
										name="tc" ng-pattern="/^\d{11}$/"
										onKeyPress="if(this.value.length==11) return false;">
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Email</div>
										<div class="warning" ng-show="myForm.email.$invalid && myForm.email.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Enter a valid email address</p>
										</div>
									</label>
									<input type="email" ng-model="email" ng-required="true" class="input-4" id="email"
										name="email">
								</div>
							</div>
						</div>
						<!-- Username - Password -->
						<div class="row">
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Username</div>
										<div class="warning"
											ng-show="myForm.username.$invalid && myForm.username.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
									</label>
									<input type="text" ng-model="username" ng-required="true" class="input-4"
										id="username" name="username" maxlength="50">
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Password</div>
										<div class="col-12" id="pswd_info" ng-show="myForm.password.$invalid && myForm.password.$touched || passwordError">
                                            <p>Password must meet the following requirements:</p>
                                            <ul>
                                            <li id="length" class="invalid" ng-show="myForm.password.$invalid && myForm.password.$touched"><i class='bx bxs-error-alt'></i><p>Required</p></li>
                                            <li id="length" class="invalid" ng-show="passwordError"><i class='bx bxs-error-alt'></i><p>{{ passwordError }}</p></li>
                                            </ul>
                                        </div>
										<div class="warning-pass" ng-show="myForm.password.$error.required && myForm.password.$touched">
											<i class='bx bxs-error-alt'></i>
											Required.
										</div>
										<div class="warning-pass" ng-show="passwordError">
											<i class='bx bxs-error-alt'></i>
											<p>{{ passwordError }}</p>
										</div>
									</label>
									<input type="password" ng-model="password" ng-required="true" id="password"
										class="input-4" name="password" ng-change="validatePassword()">
									<button type="button" class="hide-pass" onclick="togglePasswordVisibility()">
										<i class='bx bxs-hide' id="hideIcon" style="display: none;"></i>
										<i class='bx bx-show' id="showIcon"></i>
									</button>
								</div>
							</div>
						</div>
						<!-- Birthday - Phone Number -->
						<div class="row">
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Birthday</div>
										<div class="warning" ng-show="myForm.birth.$invalid && myForm.birth.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
									</label>
									<input type="date" ng-model="birth" ng-required="true" class="input-4" name="birth"
										id="birth">
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Phone Number</div>
										<div class="warning"
											ng-show="myForm.phoneNumber.$error.required && myForm.phoneNumber.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
										<div class="warning"
											ng-show="myForm.phoneNumber.$error.pattern && myForm.phoneNumber.$dirty">
											<i class='bx bxs-error-alt'></i>
											<p>Phone number must have 11 digits.</p>
										</div>
									</label>
									<input type="number" ng-model="phoneNumber" ng-required="true" class="input-4"
										name="phoneNumber" id="phoneNumber" ng-pattern="/^\d{11}$/"
										onKeyPress="if(this.value.length==11) return false;">
								</div>
							</div>
						</div>
						 <!-- Gender -->
                        <div class="row mt-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <label class="label">
                                        <div class="txt">Gender</div>
                                            <div class="warning" ng-show="myForm.pastOperation.$error.required && myForm.pastOperation.$touched">
                                                <i class='bx bxs-error-alt'></i>
                                                <p>Required</p>
                                            </div>
                                    </label>
                                    <div class="radio-buttons-gender">
                                        <label>
                                            <input type="radio" name="gender" ng-model="gender" ng-required="true" value="M"> Male
                                        </label>
                                        <label>
                                            <input type="radio" name="gender" ng-model="gender" ng-required="true" value="F"> Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
						<!-- Select İl - İlçe -->
						<script th:inline="javascript">
							var provincesList = /*[[${getAllProvinces}]]*/[];
							var districtList = /*[[${getAllDistricts}]]*/[];
						</script>
						<div class="row">
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Province</div>
										<div class="warning"
											ng-show="myForm.province.$error.required && myForm.province.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
									</label>
									<select class="form-select" name="province" id="province" ng-model="province" ng-required="true" 
									ng-options="province.id as province.sehiradi for province in provincesList track by province.id">
								        <option value="">Select a Province</option>
								    </select>
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">District</div>
										<div class="warning"
											ng-show="myForm.district.$error.required && myForm.district.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
									</label>
										<select class="form-select" name="district" id="district" ng-model="district" ng-required="true" 
									            ng-options="district.id as district.ilceadi for district in getDistricts(province) track by district.id">
									        <option value="">Select a District</option>
									    </select>
								</div>
							</div>
						</div>
						<!-- Kabul Metni -->
						<div class="agree">
							<label>
								<input type="checkbox" name="terms" ng-model="terms" ng-required="true" tabindex="1">
								<span class="terms-text">I understand and agree to the
									<span>Formstack Privacy Policy</span>,
									<span>Software Services Agreement</span>
									and
									<span>Acceptable Use Policy</span>.
								</span>
							</label>
							<span class="termsValid" ng-show="myForm.terms.$error.required">* Please agree to the terms
								and conditions.</span>
						</div>
						<!-- Submit -->
						<div class="button">
							<button class="btn btn-submit">Submit</button>
						</div>
						<!-- alert -->
						<div class="alert alert-warning" role="alert" th:if="${showTcAlert}" ng-show="${!showTcAlert}">
							This TC number is already
							registered! </div>
						<div class="alert alert-warning" role="alert" th:if="${showEmailAlert}"
							ng-show="${!showTcAlert}"> This Email address is already
							registered! </div>
						<div class="alert alert-warning" role="alert" th:if="${showUsernameAlert}"
							ng-show="${!showUsernameAlert}"> This Username is already
							registered! </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer class="py-4">
		<div class="row container mx-auto pt-4">
			<div class="footer-one col-lg-3 col-md-5 col-12 mb-3">
				<img src="img/logo.png" alt="">
				<p class="pt-3">Protect your future with reliable insurance coverage from our trusted insurance
					company..</p>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Featured</h5>
				<ul class="text-uppercase list-unstyled">
					<li><a href="#">Traffic Insurance</a></li>
					<li><a href="#">Comprehensive Insurance</a></li>
					<li><a href="#">Health Insurance</a></li>
					<li><a href="#">Earthquake Insurance</a></li>
				</ul>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Contact Us</h5>
				<div>
					<h6 class="text-uppercase">Address</h6>
					<p>Istanbul, Turkey</p>
				</div>
				<div>
					<h6 class="text-uppercase">Github</h6>
					<p>https://github.com/edamuutlu</p>  
					<p>https://github.com/nuricanbrdmr</p>
				</div>
				<div>
					<h6 class="text-uppercase">Email</h6>
					<p>edamuutlu@gmail.com</p>
					<p>nuricanb6@gmail.com</p>
				</div>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12">
				<div class="col-lg-4 col-md-6 col-12 mb-3">
					<h5 class="pb-2">Follow Us</h5>
					<a href="#"><i class="fa-brands fa-lg fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-twitter"></i></a>
				</div>
				<div class="col-lg-3 col-md-6 col-12 mb-4">
					<img src="img/payment.png" alt="">
				</div>
			</div>
			<div class="copyright mt-2">
				<div class="row container mx-auto">
					<div class="col-lg-4 col-md-6 col-12 mb-2">
						<p>Eda Nur Mutlu eInsurance © 2023. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="/js/app.js"></script>

</body>

</html>