<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration Form</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/style.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-app="myApp">

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-5">
          <a class="navbar-brand" href="#">
                    <img th:src="@{/img/Happy-logoo.png}" src="/src/main/resources/static/img/Happy-logoo.png" alt="happyLogo" class="rounded img-fluid" style="width: 200px;">
          	</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">
                    <i class='bx bxs-home'></i>
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="operations">
            <a href="/login">
                <i class='bx bxs-user-circle login-icon'></i>
                Login
            </a>
            <a href="/customerRegister">
                <i class='bx bxs-user-plus register-icon'></i>
                Register
            </a>
          </div>
        </div>
      </nav>
	<!--	End Navbar-->


	<section id="featured" class="my-5 pt-5">
		<div class="container-register mt-5 py-5" ng-controller="formController">
			<div class="textIntro">
				<h1 class="text-center">Registration Form</h1>
				<p ng-show="msg">{{msg}}</p>
			</div>

			<form th:action="@{/register}" th:objects="${customer}" method="post" name="myForm" ng-submit="register()">

				<input type="text" name="tc" placeholder="TC Number" ng-model="tc" ng-required="true" minlength="11"
					maxlength="11">
				<p class="error" ng-show="myForm.tc.$invalid && myForm.tc.$touched">Fill out your TC number.</p>

				<input type="date" name="birth" placeholder="Birth Date" ng-model="birth" ng-required="true">
				<p class="error" ng-show="myForm.birth.$invalid && myForm.birth.$touched">Fill out your Birth Date.</p>
				<!--<p class="error" ng-show="myForm.birth.$error.date">Incorrect date selection</p>-->

				<input type="text" name="email" placeholder="Email" ng-model="email" ng-required="true">
				<p class="error" ng-show="myForm.email.$invalid && myForm.email.$touched">Enter your corrent email.</p>

				<input type="text" name="firstname" placeholder="First Name" ng-model="firstname" ng-required="true">
				<p class="error" ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">Fill out your first
					name.</p>

				<input type="text" name="lastname" placeholder="Last Name" ng-model="lastname" ng-required="true">
				<p class="error" ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">Fill out your last name.
				</p>

				<select name="province" id="province">
					<option value="">-- Select Province --</option>
				</select>
				<select name="district" id="district">
					<option value="">-- Select District --</option>
				</select>

				<div class="d-flex justify-content-between">
					<label>Enter your licence plate number: </label>
					<div>					
						<input type="number" name="provinceNumber" ng-model="provinceNumber" ng-required="true" maxlength="2">
						<p class="error" ng-show="myForm.provinceNumber.$invalid && myForm.provinceNumber.$touched">Invalid input.</p>
					</div>
					<div>
						<input type="text" name="charPlate" ng-model="charPlate" ng-required="true" minlength="1" maxlength="3">
						<p class="error" ng-show="myForm.charPlate.$invalid && myForm.charPlate.$touched">Invalid input.</p>
					</div>
					<div>
						<input type="number" name="intPlate" ng-model="intPlate" ng-required="true" minlength="1" maxlength="4">
						<p class="error" ng-show="myForm.intPlate.$invalid && myForm.intPlate.$touched">Invalid input.</p>
					</div>					
				</div>
				<select name="brand" id="brand">
					<option value="">-- Select Brand --</option>
				</select>

				<button type="submit" class="btn" ng-disabled="myForm.$invalid">Submit</button>
			</form>
		</div>
	</section>
	
		<!-- Footer -->
	<footer class="mt-4 py-4">
		<div class="row container mx-auto pt-4">
			<div class="footer-one col-lg-3 col-md-5 col-12 mb-3">
				<img src="img/logo.png" alt="">
				<p class="pt-3">Protect your future with reliable insurance coverage from our trusted insurance
					company..</p>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Featured</h5>
				<ul class="text-uppercase list-unstyled">
					<li><a href="#">Traffic Insurance</a></li>
					<li><a href="#">Comprehensive Insurance</a></li>
					<li><a href="#">Health Insurance</a></li>
					<li><a href="#">Earthquake Insurance</a></li>
				</ul>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Contact Us</h5>
				<div>
					<h6 class="text-uppercase">Address</h6>
					<p>Istanbul, Turkey</p>
				</div>
				<div>
					<h6 class="text-uppercase">Github</h6>
					<p>https://github.com/edamuutlu</p>  
					<p>https://github.com/nuricanbrdmr</p>
				</div>
				<div>
					<h6 class="text-uppercase">Email</h6>
					<p>edamuutlu@gmail.com</p>
					<p>nuricanb6@gmail.com</p>
				</div>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12">
				<div class="col-lg-4 col-md-6 col-12 mb-3">
					<h5 class="pb-2">Follow Us</h5>
					<a href="#"><i class="fa-brands fa-lg fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-twitter"></i></a>
				</div>
				<div class="col-lg-3 col-md-6 col-12 mb-4">
					<img src="img/payment.png" alt="">
				</div>
			</div>
			<div class="copyright mt-2">
				<div class="row container mx-auto">
					<div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
						<p>Eda Nur Mutlu eInsurance © 2023. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
		integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
		crossorigin="anonymous"></script>

	<script src="/js/app.js"></script>
</body>

</html>