<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Insurance Form</title>
		<link rel="icon" type="image/x-icon" th:href="@{/img/Happy-favicon.png}" href="/src/main/resources/static/img/Happy-favicon.png">

	<!-- Bootsrapt -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<!-- İcon -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/register.css}" href="src/main/resources/static/css/register.css">
	<!-- Angularjs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>
		$(document).ready(function () {

			$("#province").change(function () {
				var provinceId = $("#province").val();
				$("#district").empty();

				// İlk olarak "Select District" seçeneğini ekliyoruz
				var defaultOption = $("<option>").val("").text("Select District*");
				$("#district").append(defaultOption);

				for (var i = 0; i < districtList.length; i++) {
					if (districtList[i].sehirid == provinceId) {
						var option = $("<option>").val(districtList[i].id).text(districtList[i].ilceadi);
						$("#district").append(option);
					}
				}
			});

			$("#district").change(function () {
				var districtId = $("#district").val();
				$("#neighbourhood").empty();

				// İlk olarak "Select Neighbourhood" seçeneğini ekliyoruz
				var defaultOption = $("<option>").val("").text("Select Neighbourhood*");
				$("#neighbourhood").append(defaultOption);

				for (var i = 0; i < neighbourhoodList.length; i++) {
					if (neighbourhoodList[i].ilceId == districtId) {
						var option = $("<option>").val(neighbourhoodList[i].mahalleId).text(neighbourhoodList[i].mahalleAdi);
						$("#neighbourhood").append(option);
					}
				}
			});
		});
	</script>
</head>

<body ng-app="myApp" ng-controller="homeInsuranceFormController">
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid px-5">
			<a class="navbar-brand" href="#">
                    <img th:src="@{/img/Happy-Logo.png}" src="/src/main/resources/static/img/Happy-Logo.png" alt="happyLogo" class="rounded img-fluid" style="width: 200px;">
          	</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav mb-2 mb-lg-0 text-center">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">
							<i class='bx bxs-home'></i>
							Home
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
				</ul>
			</div>
			<div class="operations">
				<a href="/login">
					<i class='bx bxs-user-circle login-icon'></i>
					Login
				</a>
				<a href="/customerRegister">
					<i class='bx bxs-user-plus register-icon'></i>
					Register
				</a>
			</div>
		</div>
	</nav>
	<!--	End Navbar-->


	<div class="page-wrapper bg-gra-02">
		<div class="wrapper">
			<div class="card">
				<div class="card-body">
					<h2 class="title">Home Insurance Form</h2>
					<span class="customer-id mb-3">Customer Id: <span th:text="${customerId}"></span></span>
					<form th:action="@{/homeRegister}" th:object="${home}" method="post" name="myForm"
						ng-submit="register()">
						<input type="hidden" name="customerId" th:value="${customerId}" />
						<!-- Area -->
						<div class="row">
							<div class="col-12">
								<div class="input-group">
									<label class="label">
										<div class="txt">Flat Area (m2)</div>
										<div class="warning"
											ng-show="myForm.flatArea.$invalid && myForm.flatArea.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Fill out your flat area.</p>
										</div>
									</label>
									<input type="number" id="flatArea" name="flatArea" placeholder="Flat Area (m2)*"
										ng-model="flatArea" ng-required="true" class="input-4">
								</div>
							</div>
						</div>
						<!-- Building - Type -->
						<div class="row">
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Select Building Type</div>
										<div class="warning"
											ng-show="myForm.buildingType.$error.required && myForm.buildingType.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
									</label>
									<select class="form-select" name="buildingType" ng-model="buildingType"
										ng-required="true" id="buildingType">
										<option value="" th:selected="${#fields.hasErrors('buildingType')}">Building
											Type</option>
										<option ng-repeat="option in buildingTypes" value="{{option}}">{{option}}
										</option>
									</select>
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">
										<div class="txt">Select Type Of Use</div>
										<div class="warning"
											ng-show="myForm.typeOfUse.$error.required && myForm.typeOfUse.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
									</label>
									<select class="form-select" name="typeOfUse" id="typeOfUse" ng-model="typeOfUse"
										ng-required="true">
										<option value="" th:selected="${#fields.hasErrors('typeOfUse')}">Type</option>
										<option ng-repeat="option in typesOfUse" value="{{option}}">{{option}}</option>
									</select>
								</div>
							</div>
						</div>
						<!-- Province - District - Neighbourhood -->
						<div class="row">
							<div class="col-12">
								<div class="input-group">
									<label class="label">
										<div class="txt">Select Province - District - Neighbourhood</div>
										<div class="warning" ng-show="myForm.province.$error.required && myForm.province.$touched || myForm.district.$error.required && myForm.district.$touched
                                            || myForm.neighbourhood.$error.required && myForm.neighbourhood.$touched">
											<i class='bx bxs-error-alt'></i>
											<p>Required</p>
										</div>
									</label>
									<div class="home-group">
										<select class="form-select" name="province" id="province" ng-model="province"
											ng-required="true" aria-label="Default select example">
											<option value="" th:selected="${#fields.hasErrors('province')}">Select
												Province*
											</option>
											<option th:each="province : ${getAllProvinces}" th:value="${province.id}"
												th:text="${province.sehiradi}"></option>
										</select>
										<select class="form-select" name="district" id="district" ng-model="district"
											ng-required="true" aria-label="Default select example">
											<option value="" th:selected="${#fields.hasErrors('district')}">Select
												District*
											</option>
										</select>
										<select class="form-select" name="neighbourhood" id="neighbourhood" ng-model="neighbourhood"
											ng-required="true" aria-label="Default select example">
											<option value="" th:selected="${#fields.hasErrors('neighbourhood')}">Select
												Neighbourhood*
											</option>
										</select>
									</div>
								</div>
							</div>
							<script th:inline="javascript">
								var districtList = /*[[${getAllDistricts}]]*/[];
								var neighbourhoodList = /*[[${getAllNeighbourhoods}]]*/[];
							</script>
							
							<!-- Number - Apartment -->
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<label class="label">
											<div class="txt">Building Number</div>
											<div class="warning"
												ng-show="myForm.buildingNumber.$invalid && myForm.buildingNumber.$touched">
												<i class='bx bxs-error-alt'></i>
												<p>Fill out your building number.</p>
											</div>
										</label>
										<input type="number" id="buildingNumber" name="buildingNumber"
											placeholder="Building Number*" ng-model="buildingNumber" ng-required="true"
											class="input-4">
									</div>
								</div>
								<div class="col-2">
									<div class="input-group">
										<label class="label">
											<div class="txt">Apartment</div>
											<div class="warning"
												ng-show="myForm.apartment.$invalid && myForm.apartment.$touched">
												<i class='bx bxs-error-alt'></i>
												<p>Fill out your apartment.</p>
											</div>
										</label>
										<input type="number" id="apartment" name="apartment" placeholder="Apartment*"
											ng-model="apartment" ng-required="true" class="input-4">
									</div>
								</div>
							</div>
							<!-- Year - Floors -->
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<label class="label">
											<div class="txt">Select Building Construction Year</div>
											<div class="warning"
												ng-show="myForm.year.$error.required && myForm.year.$touched">
												<i class='bx bxs-error-alt'></i>
												<p>Required</p>
											</div>
										</label>
										<select class="form-select" name="year" id="year" ng-model="year"
											ng-required="true">
											<option value="" th:selected="${#fields.hasErrors('year')}">Year</option>
											<option ng-repeat="option in years" value="{{option}}">{{option}}</option>
										</select>
									</div>
								</div>
								<div class="col-2">
									<div class="input-group">
										<label class="label">
											<div class="txt">Select Building Floors</div>
											<div class="warning"
												ng-show="myForm.floor.$error.required && myForm.floor.$touched">
												<i class='bx bxs-error-alt'></i>
												<p>Required</p>
											</div>
										</label>
										<select class="form-select" name="floor" id="floor" ng-model="floor"
											ng-required="true">
											<option value="" th:selected="${#fields.hasErrors('floor')}">Floors</option>
											<option ng-repeat="option in floors" value="{{option}}">{{option}}</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Title - Period -->
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<label class="label">
											<div class="txt">Select Title of Insurer</div>
											<div class="warning"
												ng-show="myForm.insurerTitle.$error.required && myForm.insurerTitle.$touched">
												<i class='bx bxs-error-alt'></i>
												<p>Required</p>
											</div>
										</label>
										<select class="form-select" name="insurerTitle" id="insurerTitle"
											ng-model="insurerTitle" ng-required="true">
											<option value="" th:selected="${#fields.hasErrors('insurerTitle')}">Insurer
											</option>
											<option ng-repeat="option in titles" value="{{option}}">{{option}}</option>
										</select>
									</div>
								</div>
								<div class="col-2">
									<div class="input-group">
										<label class="label">
											<div class="txt">Select Insurance Period (Day)</div>
											<div class="warning"
												ng-show="myForm.period.$error.required && myForm.period.$touched">
												<i class='bx bxs-error-alt'></i>
												<p>Required</p>
											</div>
										</label>
										<select class="form-select" name="period" id="period" ng-model="period"
											ng-required="true">
											<option value="">Period</option>
											<option ng-repeat="option in periods" value="{{option}}">{{option}}</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Submit -->
							<div class="button" type="submit" ng-disabled="myForm.$invalid">
								<button class="btn btn-submit">Prepare My Offer</button>
							</div>
							<!-- alert -->
							<div class="alert alert-warning" role="alert" th:if="${showHomeAlert}">
								This home address is already registered!
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>

	<footer class="py-4">
		<div class="row container mx-auto pt-4">
			<div class="footer-one col-lg-3 col-md-5 col-12 mb-3">
				<img src="img/logo.png" alt="">
				<p class="pt-3">Protect your future with reliable insurance coverage from our trusted insurance
					company..</p>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Featured</h5>
				<ul class="text-uppercase list-unstyled">
					<li><a href="#">Traffic Insurance</a></li>
					<li><a href="#">Comprehensive Insurance</a></li>
					<li><a href="#">Health Insurance</a></li>
					<li><a href="#">Earthquake Insurance</a></li>
				</ul>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Contact Us</h5>
				<div>
					<h6 class="text-uppercase">Address</h6>
					<p>Istanbul, Turkey</p>
				</div>
				<div>
					<h6 class="text-uppercase">Github</h6>
					<p>https://github.com/edamuutlu</p>
					<p>https://github.com/nuricanbrdmr</p>
				</div>
				<div>
					<h6 class="text-uppercase">Email</h6>
					<p>edamuutlu@gmail.com</p>
					<p>nuricanb6@gmail.com</p>
				</div>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12">
				<div class="col-lg-4 col-md-6 col-12 mb-3">
					<h5 class="pb-2">Follow Us</h5>
					<a href="#"><i class="fa-brands fa-lg fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-twitter"></i></a>
				</div>
				<div class="col-lg-3 col-md-6 col-12 mb-4">
					<img src="img/payment.png" alt="">
				</div>
			</div>
			<div class="copyright mt-2">
				<div class="row container mx-auto">
					<div class="col-lg-4 col-md-6 col-12 mb-2">
						<p>Eda Nur Mutlu eInsurance © 2023. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="/js/app.js"></script>
</body>

</html>