<!doctype html>
<html lang="en" xmlns:th"http://www.thymeLeaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Insurance Form</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/style.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-app="myApp">

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
		<div class="container">
			<a class="navbar-brand text-black" href="/index">SBM</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span id="bar" data-lucide="menu"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/customerList">See Customer List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/customerRegisterForm">New Customer Register</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--End Navbar-->


	<section id="featured" class="my-5 pt-5">
		<div class="container-register mt-5 py-5" ng-controller="homeInsuranceFormController">
			<div class="textIntro">
				<h1 class="text-center">Home Insurance Form</h1>
				<p ng-show="msg">{{msg}}</p>
				<div class="alert alert-warning" role="alert" th:if="${showHomeAlert}"> This home address is
					already registered! </div>
			</div>

			<form th:action="@{/homeRegister}" th:object="${home}" method="post" name="myForm" ng-submit="register()">
				<input type="hidden" name="customerId" th:value="${customerId}" />
				<div style=" display: flex; flex-direction: row;">
					<h4 class="mr-2">Customer Id : </h4>
					<h4 th:text="${customerId}">idParam</h4>
				</div>

				<input type="number" id="flatArea" name="flatArea" placeholder="Flat Area (m2)*" ng-model="flatArea"
					ng-required="true">
				<p class="error" ng-show="myForm.flatArea.$invalid && myForm.flatArea.$touched">Fill out your flat area.
				</p>

				<select name="buildingType" id="buildingType">
					<option value="" th:selected="${#fields.hasErrors('buildingType')}">Select Building Type*</option>
					<option ng-repeat="option in buildingTypes" value="{{option}}">{{option}}</option>
				</select>
				<p th:if="${#fields.hasErrors('buildingType')}" th:errorclass="error" th:errors="*{buildingType}" />

				<select name="typeOfUse" id="typeOfUse">
					<option value="" th:selected="${#fields.hasErrors('typeOfUse')}">Select Type Of Use*</option>
					<option ng-repeat="option in typesOfUse" value="{{option}}">{{option}}</option>
				</select>
				<p th:if="${#fields.hasErrors('typeOfUse')}" th:errorclass="error" th:errors="*{typeOfUse}" />

				<select name="province" id="province">
					<option value="" th:selected="${#fields.hasErrors('province')}">Select Province*</option>
				</select>
				<p th:if="${#fields.hasErrors('province')}" th:errorclass="error" th:errors="*{province}" />

				<select name="district" id="district">
					<option value="" th:selected="${#fields.hasErrors('district')}">Select District*</option>
				</select>
				<p th:if="${#fields.hasErrors('district')}" th:errorclass="error" th:errors="*{district}" />

				<input type="text" id="neighbourhood" name="neighbourhood" th:field="*{neighbourhood}"
					placeholder="Neighbourhood*" ng-model="neighbourhood" ng-required="true" ng-pattern="/^[a-zA-Z]*$/">
				<p class="error" ng-show="myForm.neighbourhood.$invalid && myForm.neighbourhood.$touched">Fill out your
					neighbourhood.</p>
				<p th:if="${#fields.hasErrors('neighbourhood')}" th:errorclass="error" th:errors="*{neighbourhood}" />

				<input type="number" id="buildingNumber" name="buildingNumber" placeholder="Building Number*"
					ng-model="buildingNumber" ng-required="true">
				<p class="error" ng-show="myForm.buildingNumber.$invalid && myForm.buildingNumber.$touched">Fill out
					your building number.</p>

				<input type="number" id="apartment" name="apartment" placeholder="Apartment*" ng-model="apartment"
					ng-required="true">
				<p class="error" ng-show="myForm.apartment.$invalid && myForm.apartment.$touched">Fill out your
					apartment.</p>

				<select name="year" id="year">
					<option value="" th:selected="${#fields.hasErrors('year')}">Select Building Construction Year*</option>
					<option ng-repeat="option in years" value="{{option}}">{{option}}</option>
				</select>
				<p th:if="${#fields.hasErrors('year')}" th:errorclass="error" th:errors="*{year}" />

				<select name="floor" id="floor">
					<option value="" th:selected="${#fields.hasErrors('floor')}">Select Building Floors*</option>
					<option ng-repeat="option in floors" value="{{option}}">{{option}}</option>
				</select>
				<p th:if="${#fields.hasErrors('floor')}" th:errorclass="error" th:errors="*{floor}" />

				<select name="insurerTitle" id="insurerTitle">
					<option value="" th:selected="${#fields.hasErrors('insurerTitle')}">Select Title of Insurer*
					</option>
					<option ng-repeat="option in titles" value="{{option}}">{{option}}</option>
				</select>
				<p th:if="${#fields.hasErrors('insurerTitle')}" th:errorclass="error" th:errors="*{insurerTitle}" />

				<select name="period" id="period" ng-model="period" ng-required="true">
					<option value="">Select Insurance Period (Day)*</option>
					<option ng-repeat="option in periods" value="{{option}}">{{option}}</option>
				</select>

				<button type="submit" class="btn" ng-disabled="myForm.$invalid">Prepare My Offer</button>
			</form>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
		integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
		crossorigin="anonymous"></script>

	<script src="/js/app.js"></script>
</body>

</html>