<!doctype html>
<html lang="en" xmlns:th"http://www.thymeLeaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Insurance Cancellation</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	
	<link href="https://css.gg/css" rel="stylesheet" />
	
	<link rel="stylesheet" href="" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="" th:href="@{/css/home.css}">

	<style>
		button {
			font-size: 0.8rem;
			font-weight: 700;
			outline: none;
			border: none;
			background-color: black;
			color: aliceblue;
			padding: 13px 30px;
			cursor: pointer;
			text-transform: uppercase;
		}

		button:hover {
			background-color: #3f3e3e;
		}
	</style>

</head>

<body ng-app="myApp">

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-5">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">
                    <i class='bx bxs-home'></i>
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="operations">
            <a href="/login">
                <i class='bx bxs-user-circle login-icon'></i>
                Login
            </a>
            <a href="/customerRegister">
                <i class='bx bxs-user-plus register-icon'></i>
                Register
            </a>
          </div>
        </div>
      </nav>
	<!--	End Navbar-->

	<section id="blog-home" class="container mt-5 pt-5">
		<h2 class="font-weight-bold pt-5">Traffic Insurance Cancellation</h2>
		<hr>
	</section>

	<section id="cart-bottom list-page-main" class="container mt-4">
		<div class="row">
			<div class="total col-lg-6 col-md-6 col-12">
				<div>
					<h5>BILLING SUMMARY</h5>
					<div class="d-flex justify-content-between">
						<h6>Subtotal</h6>
						<p th:text="${#numbers.formatDecimal(((insurance.offer * 100) / ( (100 + insurance.kdv))), 0, 'COMMA', 2, 'POINT') + ' ₺'}"></p>
					</div>
					<div class="d-flex justify-content-between">
						<h6>KDV</h6>
						<p th:text="${'% ' + insurance.kdv}"></p>
					</div>
					<div class="d-flex justify-content-between">
						<h6>Total Amount</h6>
						<p th:text="${#numbers.formatDecimal(insurance.offer, 0, 'COMMA', 2, 'POINT') + ' ₺'}"></p>
					</div>
					<div class="d-flex justify-content-between">
						<h6>Total Usage Time (Day)</h6>
						<p th:text="${insurance.daysDiff + ' day'}"></p>
					</div>
					<hr class="second-hr">
					<div class="d-flex justify-content-between">
						<h6>Total Refund</h6>
						<p th:text="${#numbers.formatDecimal(insurance.refund, 0, 'COMMA', 2, 'POINT') + ' ₺'}"></p>
					</div>

					<div class="d-flex justify-content-between">
						<button class="ms-auto"><a th:href="@{/seeCarInsuranceDetails/{id}(id=${insurance.carId})}">Cancel</a></button>
						<button class="ms-2"><a th:href="@{/deleteCarInsurance/{id}(id=${insurance.insuranceId})}">Delete</a></button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="mt-4 py-4">
		<div class="row container mx-auto pt-4">
			<div class="footer-one col-lg-3 col-md-5 col-12 mb-3">
				<img src="img/logo.png" alt="">
				<p class="pt-3">Protect your future with reliable insurance coverage from our trusted insurance
					company..</p>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Featured</h5>
				<ul class="text-uppercase list-unstyled">
					<li><a href="#">Traffic Insurance</a></li>
					<li><a href="#">Comprehensive Insurance</a></li>
					<li><a href="#">Health Insurance</a></li>
					<li><a href="#">Earthquake Insurance</a></li>
				</ul>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Contact Us</h5>
				<div>
					<h6 class="text-uppercase">Address</h6>
					<p>Istanbul, Turkey</p>
				</div>
				<div>
					<h6 class="text-uppercase">Github</h6>
					<p>https://github.com/edamuutlu</p>  
					<p>https://github.com/nuricanbrdmr</p>
				</div>
				<div>
					<h6 class="text-uppercase">Email</h6>
					<p>edamuutlu@gmail.com</p>
					<p>nuricanb6@gmail.com</p>
				</div>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12">
				<div class="col-lg-4 col-md-6 col-12 mb-3">
					<h5 class="pb-2">Follow Us</h5>
					<a href="#"><i class="fa-brands fa-lg fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-twitter"></i></a>
				</div>
				<div class="col-lg-3 col-md-6 col-12 mb-4">
					<img src="img/payment.png" alt="">
				</div>
			</div>
			<div class="copyright mt-2">
				<div class="row container mx-auto">
					<div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
						<p>Eda Nur Mutlu eInsurance © 2023. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
		integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
		crossorigin="anonymous"></script>

	<script src="/js/app.js"></script>
</body>

</html>