<!DOCTYPE html>
<html lang="en" xmlns:th"http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate</title>
    <!-- Bootsrapt -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<!-- İcon -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/offer.css}" href="src/main/resources/static/css/offer.css">
	<!-- Angularjs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body ng-app="myApp">
     <!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-5">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">
                    <i class='bx bxs-home'></i>
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="operations">
            <a href="/login">
                <i class='bx bxs-user-circle login-icon'></i>
                Login
            </a>
            <a href="/customerRegister">
                <i class='bx bxs-user-plus register-icon'></i>
                Register
            </a>
          </div>
        </div>
      </nav>
	<!--	End Navbar-->
    <div class="user-page-wrapper">
      <div class="user-page-main">
        <div class="pricing-detail-section">
            <!-- <div class="commom-title d-flex justify-content-center">
                <h2>Offers</h2>
            </div> -->
            <h3 class="common-content">
			    <span th:text="'Hi ' + ${customer.firstname} + ', '"></span>
			    <span th:text="'Here is the offer price we have prepared for you!'"></span>
			</h3>

        </div>
        <div class="istehr-pricing-detail" id="referans" th:object="${customer}">
            <div class="container">
                <div class="row">
                    <div class="plan-list">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="free-plan card">
                                    <div class="card-body price-plans">
                                        <div class="planImageBackground"><img th:src="@{/img/plan-Intersect.png}" src="/src/main/resources/static/img/plan-Intersect.png" alt=""></div>
                                        <div class="planImageBackground-hidden"><img th:src="@{/img/hidden-intersect.png}" src="/src/main/resources/static/img/hidden-intersect.png" alt=""></div>
                                        <div class="planImageCircleLeft"><img th:src="@{/img/Aviva_Logo.png}" src="/src/main/resources/static/img/Aviva_Logo.png" width="150px" alt=""></div>
                                        <div class="planImageCircleRight"><img th:src="@{/img/plan-circle-bottom.png}" src="/src/main/resources/static/img/plan-circle-bottom.png" alt=""></div>
                                        <small>Aviva</small>
                                        <h3 th:text="${insurance.offer + '₺'}"></h3>
                                        <em>Car Insurance</em>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Most Comprehensive Offer</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>All Authorized Services and Special Services</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Original Glass (Exempt)</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Mini-Repair: Yes</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Roadside Assistance: Yes</p>
                                        <form th:object="${insurance}"  method="post" name="myForm" action="/result">
                                            <input type="hidden" name="insuranceId" th:value="${insurance.insuranceId}">
                                            <button type="submit" name="result" value="Accepted" class="btn btn-primary price-plan" >Accept</button>
                                        </form>
                                        <p class="planCharges">No hidden Charges</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="free-plan card">
                                    <div class="card-body price-plans">
                                        <div class="planImageBackground"><img th:src="@{/img/plan-Intersect.png}" src="/src/main/resources/static/img/plan-Intersect.png" alt=""></div>
                                        <div class="planImageBackground-hidden"><img th:src="@{/img/hidden-intersect.png}" src="/src/main/resources/static/img/hidden-intersect.png" alt=""></div>
                                        <div class="planImageCircleLeft"><img th:src="@{/img/Liberty-Mutual-Logo.png}" src="/src/main/resources/static/img/Liberty-Mutual-Logo.png" width="150px" alt=""></div>
                                        <div class="planImageCircleRight"><img th:src="@{/img/plan-circle-bottom.png}" src="/src/main/resources/static/img/plan-circle-bottom.png" alt=""></div>
                                        <small>Liberty Mutual</small>
                                        <h3 th:text="${insurance.offer + '₺'}"></h3>
                                        <em> Car Insurance </em>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Most Comprehensive Offer</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>All Authorized Services and Special Services</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Original Glass (Exempt)</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Mini-Repair: Yes</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Roadside Assistance: Yes</p>
                                        <form th:object="${insurance}"  method="post" name="myForm" action="/result">
                                            <input type="hidden" name="insuranceId" th:value="${insurance.insuranceId}">
                                            <button type="submit" name="result" value="Accepted" class="btn btn-primary price-plan">Accept</button>
                                        </form>
                                        <p class="planCharges">No hidden Charges</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="free-plan card">
                                    <div class="card-body price-plans">
                                        <div class="planImageBackground"><img th:src="@{/img/plan-Intersect.png}" src="/src/main/resources/static/img/plan-Intersect.png" alt=""></div>
                                        <div class="planImageBackground-hidden"><img th:src="@{/img/hidden-intersect.png}" src="/src/main/resources/static/img/hidden-intersect.png" alt=""></div>
                                        <div class="planImageCircleLeft"><img th:src="@{/img/AXA.png}" src="/src/main/resources/static/img/AXA.png" width="150px" alt=""></div>
                                        <div class="planImageCircleRight"><img th:src="@{/img/plan-circle-bottom.png}" src="/src/main/resources/static/img/plan-circle-bottom.png" alt=""></div>
                                        <div class="recommended-price">Recommended</div>
                                        <small>AXA</small>
                                        <h3 th:text="${insurance.offer + '₺'}"></h3>
                                        <em> Car Insurance </em>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Most Comprehensive Offer</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>All Authorized Services and Special Services</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Original Glass (Exempt)</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Mini-Repair: Yes</p>
                                        <p class="porject-plan"><i class='bx bx-check'></i>Roadside Assistance: Yes</p>
                                        <form th:object="${insurance}"  method="post" name="myForm" action="/result">
                                            <input type="hidden" name="insuranceId" th:value="${insurance.insuranceId}">
                                            <button type="submit" name="result" value="Accepted" class="btn btn-primary price-plan">Accept</button>
                                        </form>
                                        <p class="planCharges">No hidden Charges</p>
                                    </div>
                                </div>
                            </div>                       
                         </div>

                        <form th:object="${insurance}"  method="post" name="myForm" action="/result">
                         <div class="cancel">
                                <input type="hidden" name="insuranceId" th:value="${insurance.insuranceId}">
                                <button type="submit" name="result" value="Canceled" class="btn btn-danger price-plan">Cancel</button>
                         </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- istehr-pricing-detail end -->
     </div>
    </div> 
    <script src="/js/app.js"></script>

    <footer class="py-4">
		<div class="row container mx-auto pt-4">
			<div class="footer-one col-lg-3 col-md-5 col-12 mb-3">
				<img src="img/logo.png" alt="">
				<p class="pt-3">Protect your future with reliable insurance coverage from our trusted insurance
					company..</p>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Featured</h5>
				<ul class="text-uppercase list-unstyled">
					<li><a href="#">Traffic Insurance</a></li>
					<li><a href="#">Comprehensive Insurance</a></li>
					<li><a href="#">Health Insurance</a></li>
					<li><a href="#">Earthquake Insurance</a></li>
				</ul>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
				<h5 class="pb-2">Contact Us</h5>
				<div>
					<h6 class="text-uppercase">Address</h6>
					<p>Istanbul, Turkey</p>
				</div>
				<div>
					<h6 class="text-uppercase">Github</h6>
					<p>https://github.com/edamuutlu</p>  
					<p>https://github.com/nuricanbrdmr</p>
				</div>
				<div>
					<h6 class="text-uppercase">Email</h6>
					<p>edamuutlu@gmail.com</p>
					<p>nuricanb6@gmail.com</p>
				</div>
			</div>
			<div class="footer-one col-lg-3 col-md-6 col-12">
				<div class="col-lg-4 col-md-6 col-12 mb-3">
					<h5 class="pb-2">Follow Us</h5>
					<a href="#"><i class="fa-brands fa-lg fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-lg fa-twitter"></i></a>
				</div>
				<div class="col-lg-3 col-md-6 col-12 mb-4">
					<img src="img/payment.png" alt="">
				</div>
			</div>
			<div class="copyright mt-2">
				<div class="row container mx-auto">
					<div class="col-lg-4 col-md-6 col-12 mb-2">
						<p>Eda Nur Mutlu eInsurance © 2023. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>